* {
    color: #e9dbbd;
}

.primary-color {
    color: #e9dbbd;
}

.page-text, ul, li {
    color: #d9d9d9
}

.line-divider {
    width: 80%;
    border-bottom: 1px solid #e9dbbd;
    margin: 10px auto
}

form {
    max-width: 600px;
    margin: 0 auto;
}

input {
    margin: 10px;
    color: #e9dbbd;
    border: 1px solid #e9dbbd;
    border-radius: 4px; 
    background: none;
    width: 100%;
    height: 45px;
}

.image-banner {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.portrait {
    position: unset;
}

.landscape {
    width: 100%;
}

.service-container {
    padding: 15px;
}

.contact-button {
    display: block;
    background: none;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    border: 1px solid #e9dbbd;
    margin: 25px;
}

.contact-button:hover {
    background: #e9dbbd;
    color: black;
}

.film-strip {
    overflow: auto;
    white-space: nowrap;
}

.strip-photo {
    width: 60%;
    display: inline-block;
    margin: 3px;
}

.product-photo {
    width: 50%;
    display: inline-block;
    margin: 3px;
}

.landing-carousel {
    position: fixed!important;
    width: 100vw;
    height: 100vh;
}

.carousel-control-prev {
    align-items: flex-end!important;
    left: auto!important;
    right: 0!important;
    width: 50px!important;
    margin-right: 100px;
    margin-bottom: 30px;
    z-index: 100!important;
}

.carousel-control-next {
    align-items: flex-end!important;
    width: 50px!important;
    margin-right: 50px;
    margin-bottom: 30px;
}

.carousel-caption {
    color:#e9dbbd!important;
}

@media screen and (min-width: 576px){
    .film-strip {
        margin: 25px;
    }
    .strip-photo {
        width: 40%;
    }
    .product-photo {
        width: 35%;
    }
}

@media screen and (min-width: 768px){
    .film-strip {
        margin: 0px;
        margin-top: 10px;
    }

    .contact-button {
        margin: 40px;
    }

    .strip-photo {
        width: 35%;
    }
    .product-photo {
        width: 27%;
    }
}

@media screen and (min-width: 992px){
    .film-strip {
        margin: 75px;
        margin-top: 10px;
        margin-left: 0px;
    }
    .strip-photo {
        width: 20%;
    }
    .product-photo {
        width: 18%;
    }
}