@keyframes fadeInOut {
    0% {
      opacity: 1;
    }
  
    .04% {
        opacity: 0;
      }
  
    100% {
      opacity: 0;
    }
  }

/* .landing-overlay {
    opacity: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 2;
    animation-delay: 0.05s;
    animation-name: fadeInOut;
    animation-duration: 10000s;
} */

/* .landscape-img {
    margin: 0 auto;
}

.portrait {
    margin: 0 auto;
}

@media screen and (min-width: 576px) {
    .portrait {
        width:60%;
    }

} */
/* 
@media screen and (min-width: 768px) {
    .portrait {
        width:55%;
    }

    .landscape-img {
        width: 85%;
    }
} */
/* 
@media screen and (min-width: 824px) {
    .portrait {
        width:50%;
    }

    .landscape-img {
        width: 85%;
    }
}

@media screen and (min-width: 992px) {
    .portrait {
        width:45%;
    }

    .landscape-img {
        width: 85%;
    }
} */
/* @media screen and (orientation: landscape) {
    .landscape-img {
        width: 70%;
    }

    .portrait {
        width:35%;
    }
    
} */
/* 
@media screen and (orientation: landscape) and (min-width: 812px) {
    .landscape-img {
        width: 55%;
    }

    .portrait {
        width:30%;
    }
} */