.lightbox-content {
    position: relative;
    width: 100%;
    max-height: 100vh;
    max-width: 2000px;
}

.close-button {
    font-size: 2rem;
    top: 10px;
    right: 5%;
}

.landscape-img {
    margin: 0 auto;
    width: 100%
}

.portrait {
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 2000px) {
    .close-button {
         font-size: 3rem;
    }
 }


@media screen and (min-width: 3500px) {
   .close-button {
        right: 20%;
        font-size: 3rem;
        top: 5%;
   }
}


@media screen and (min-width: 320px) and (min-height: 568px) {
    .portrait {
        width: 100%;
    }
    .landscape-img {
        width: 100%;
    }
}

@media screen and (min-width: 500px) and (min-height: 500px) {
    .portrait {
        width:80%;
    }
}

@media screen and (min-width: 568px) and (min-height: 320px) {
    .portrait {
        width:42%;
    }
    .landscape-img {
        width: 75%;
    }
}

@media screen and (min-width: 568px) and (min-height: 400px) {
    .portrait {
        width:70%;
    }
}

@media screen and (min-width: 667px) and (min-height: 375px) {
    
    .landscape-img {
        width: 75%;
    }
}

@media screen and (min-width: 731px) and (min-height: 411px) {
    .portrait {
        width:42%;
    }
}

@media screen and (min-width: 731px) and (min-height: 600px) {
    .portrait {
        width:65%;
    }
}

@media screen and (min-width: 812px) and (min-height: 375px) {
    .portrait {
        width: 35%;
    }
    .landscape-img {
        width: 62%;
    }
}

@media screen and (min-width: 812px) and (min-height: 415px) {
    .portrait {
        width: 65%;
    }
}

@media screen and (min-width: 992px) and (min-height: 500px) {
    .portrait {
        width: 50%;
    }
}

@media screen and (min-width: 768px) and (min-height: 1024px) {
    .portrait {
        width: 80%;
    }

    .landscape-img {
        width: 85%;
    }
}

@media screen and (min-width: 1024px) and (min-height: 768px) {
    .portrait {
        width: 58%;
    }
    .landscape-img {
        width: 90%;
    }
}

@media screen and (min-width: 1050px) and (min-height: 700px) {
    .portrait {
        width: 43%;
    }
}

@media screen and (min-width: 1366px) and (min-height: 1024px) {
    .portrait {
        width: 56%;
    }
    .landscape-img {
        width: 85%;
    }
}

@media screen and (min-width: 1400px) and (min-height: 500px) {
    .portrait {
        width: 40%;
    }
    .landscape-img {
        width: 70%;
    }
}

@media screen and (min-width: 1024px) and (min-height: 1366px) {
    .portrait {
        width: 80%;
    }
    .landscape-img {
        width: 85%;
    }
}

@media screen and (min-width: 2000px) {
    .portrait {
        width: 67%;
    }
}